html, body, .container, .monitor, .screen, .controls, .options-container, 
.restart-container, .score-board, .label {
    display: flex;
    flex: 1 1 auto;
}

html {
    justify-content: center;
}

body {
    max-width: 715px;
}

.container {
    flex-direction: column;
}

.monitor {
    height: 363px;
    background-color: #cacaca;
}

.screen {
    margin: 30px;
    max-width: 655px;
    background-color: #262626;
    color: white;
    flex-direction: column;
}

.score-board {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
}

.label {
    flex-direction: column;
    align-items: center;
}

.controls {
    height: 187px;
    flex-direction: column;
    background-color: #d9d9d9;
}

.options-container, .restart-container {
    justify-content: space-around;
    align-items: center;
}
