@font-face {
    font-family: "Press-start-2p";
    src: url("fonts/pressstart2p-regular-webfont.woff2") format("woff2"),
         url("fonts/pressstart2p-regular-webfont.woff") format("woff");
}
  
html, body, .container, .monitor, .screen, .controls, .options-container, 
.restart-container, .score-board, .label, .message, .button-container {
    display: flex;
    flex: 1 1 auto;
}

html {
    justify-content: center;
}

body {
    max-width: 500px;
    font-family: "Press-start-2p";
}

.container {
    flex-direction: column;
}

.monitor {
    height: 363px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #cacaca;
}

.screen {
    border-radius: 12px;
    margin: 30px;
    background-color: #262626;
    color: white;
    flex-direction: column;
}

.score-board {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;
}

.label {
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.message {
    height: 75%;
    padding: 0px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.controls {
    height: 187px;
    flex-direction: column;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #d9d9d9;
}

.restart-container {
    justify-content: center;
    align-items: center;
    padding: 2px 0px 0px 0px;
}

.restart {
    border-width: 0px;
    border-radius: 8px;
    padding: 0px;
    width: 180px;
    height: 36px;
    background-color: #4db02a;
    color: white;
    font-size: 12px;
    font-family: "Press-start-2p";
}

.options-container {
    justify-content: space-around;
    align-items: center;
    padding-bottom: 16px;
}

.button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

img {
    font-size: 10px;
    width: 40px;
}

.scis {
    width: 34px;
}

.options {
    border-width: 0px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

#rock {
    background-color: #164092;
}

#paper {
    background-color: #d3c64f;
}

#scissors {
    background-color: #920000;
}

